<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <h1 style="text-align:center">
    Welcome to {{ title }}!
  </h1>
  <h2>Persons List</h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Sr. No.</th>
        <th>Person Name</th>
        <th>Person Age</th>
        <th>Person Address</th>
        <th>Person Email</th>
        <th>Person Education</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let person of personsList; let i =index" class="list">
        <td>{{ i+1 }}</td>
        <td>{{ person.name }}</td>
        <td>{{ person.age }}</td>
        <td>{{ person.address }}</td>
        <td>{{ person.email }}</td>
        <td>
          {{ person.isGraduate? 'Graduate' : 'UnderGraduate'}}
        </td>
      </tr>
    </tbody>
  </table>
  <hr>
  <button (click)="showGraduateOnly()" mouseactions defaultColor="red">Click Here</button>
</div>